@page "/home"
@inject NavigationManager NavigationManager

<h1>Welcome to Home Page</h1>

<button class="btn btn-primary" @onclick="NavigateToBooking">จองคิวออนไลน์</button>

@code {

    private void NavigateToBooking()
    {
        NavigationManager.NavigateTo("/Booking");
    }

}
